.backhome{
    background-color: black;
    width: 100%;
    height: auto;
    position: absolute;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#textoH{
    color: aliceblue;
    left: 5%;
    position: absolute;
}

#tela{
    color: aliceblue;
    position: absolute;
    top: 15%;
    left: 5%;
}
.filmes_container{
    color: aliceblue;
}