.NavBar{
    display: flex;
    background-color: rgb(255, 0, 0);
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
#pnav:hover{
    color: rgb(97, 12, 12);
}
#pnav{
    position: relative;
    left: 10%;
}

#buscar{
    top: 20px;
    left: 68.5%;
    position: absolute;
    padding: 2px;
    border-radius: 8px;
    outline: unset;
}

#buscarB{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 20px;
    font-size: 15px;
    left: 80%;
    position: absolute;
    border-radius: 8px;
}

#buscarB:hover{
    color: rgb(97, 12, 12);
}
#sair{
    position: absolute;
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    left: 93%;
    border: none;
    top: 15px;
}
#sair:hover{
    color: rgb(97, 12, 12);
}