.NavBar{
    display: flex;
    background-color: rgb(112, 20, 20);
    justify-content: space-between;
    align-items: center;
    padding: .01rem 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
}

.NavBar p a{
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: .5rem;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

.NavBar p a:hover{
    background-color: transparent;
    color: rgb(98, 0, 0);
}

.NavBar form{
    display: flex;
    gap: .5rem;
    position: relative;
    left: 20%;
}

.NavBar input {
    padding: .1rem .3rem;
    border-radius: 3px;
    border: none;
    position: relative;
    right: 20%;
}
.NavBar form button{
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    padding: .2rem;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
    position: relative;
    right: 22%;
    cursor: pointer;
    transition: 0.4s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#populares{
    
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5px;
    color: rgb(255, 255, 255);
    position: relative;
    padding: .2rem;
    font-size: 1.3rem;
    display: flex;
    border: none;
    transition: 0.4s;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}
#populares:hover{
    background-color: transparent;
    color: rgb(98, 0, 0);
}

.NavBar form button:hover{
    background-color: transparent;
    color: rgb(98, 0, 0);
    
}

#sair{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    transition: 0.4s;
}
#sair:hover{
    background-color: transparent;
    color: rgb(98, 0, 0);
}


