.App {
  background: #040404;
  min-height: 100vh;
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
  
}
#imgTheMask{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 25px;
  top: 26px;
}

#imgLogan{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 25px;
  top: 310px;
}

#imgJoker{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 25px;
  top: 595px;
  clip: rect(0px, 370px, 210px, 0px);
}

#imgShazan{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 285px;
  top: 0px;
}

#imgIT{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 285px;
  top: 285px;
}

#imgPanico{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 285px;
  top: 570px;
  clip: rect(0px, 370px, 259px, 0px);
}

#imgSmile{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 545px;
  top: 20px;
  mix-blend-mode: screen;
}

#imgEstranho{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 545px;
  top: 305px;
}

#imgGuardiao{
  position: absolute;
  width: 240px;
  height: 270px;
  left: 545px;
  top: 590px;
  mix-blend-mode: lighten;
}




























