body{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: black;
}

.filme-page{
    background-color: rgb(16, 13, 13);
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: white;
    margin: 0 auto;
    text-align: center;
    max-width: 600px;
}
.filme-page img{
    margin: 1rem;
}
.info{
    position: relative;
    text-align: center;
}
#descricao{
    position: relative;
    text-align: center;
    
}

.infodescricao{
    text-align: left;
    max-width: 600px;
    position: relative;
    line-height: 1.4rem;
    padding-bottom: 5rem;
}

.filme-page svg{
    color: yellow;
}